<div class="list-group">
  <%= link_to t('promocoes'), produtos_path(categoria: 'promocoes'), class: categoria_atual == 'promocoes' ? 'list-group-item active' : 'list-group-item' %>
  <% categorias.each do |categoria| %>
    <%= link_to categoria.nome, produtos_path(categoria: categoria.id), class: categoria_atual == categoria.id.to_s ? 'list-group-item active' : 'list-group-item' %>
  <% end %>
</div>