<% produtos.each do |produto| %>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <%= link_to image_tag(produto.thumbnail, class: 'card-img-top'), produto_path(produto) %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to produto.nome, produto_path(produto) %>
        </h4>
        <h5><%= produto.preco %></h5>
        <p class="card-text"><%= produto.descricao %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
<% end %>